.App {
  text-align: center;
  overflow: hidden;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame{
  height: 100vh;
  width: 100vw;
}

.frame .tab{
  flex: 1;
  height: 100%;
}

.width100{
  width: 100%;
}